{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block menu %}
{% include 'components/menu.html' %}
{% include 'components/Search.html' %}
{% endblock %}

{% block content %}

<section id="HomeOsmm" class="container">
    <main>
        <section>
            <!-- <img src="{% static 'images/logo.svg' %}" alt=""> -->
            <img src="{% static 'img/LogoOSMM_bgnone.png' %}" alt="">
        </section>
        <section class="descricao">
            <button>
                <a href="https://docs.google.com/forms/d/1EriTdPWkD3RFm0gty5uq14rAPdAU2Zzs7MxdEXGzSfw/edit">Escola inscreva-se aqui</a>
            </button>
            <button>
                <a href="http://podemos.alunoead.com.br/login/signup.php?">Aluno inscreva-se aqui</a>
            </button>
        </section>
    </main>
    
    <aside>
        <a href="http://podemos.alunoead.com.br/pluginfile.php/4860/mod_resource/content/1/REGULAMENTO%20OSMM.pdf" class="text-gray">Regulamento</a>
        <!--<a href="#"class="text-gray">Simulados(disponíveis até dia 10/07)</a>-->

        <a href="{% static 'documents/1º SIMULADO OSMM - NÍVEL A - SEM GABARITO.pdf' %}" class="text-gray">1º SIMULADO- NÍVEL A - SEM GABARITO</a>
        <a href="{% static 'documents/1º SIMULADO OSMM - NÍVEL 1 - SEM GABARITO.pdf' %}" class="text-gray">1º SIMULADO- NÍVEL 1 - SEM GABARITO</a>
        <a href="{% static 'documents/1º SIMULADO OSMM - NÍVEL 2 - SEM GABARITO.pdf' %}" class="text-gray">1º SIMULADO- NÍVEL 2 - SEM GABARITO</a>
        <a href="{% static 'documents/1º SIMULADO OSMM - NÍVEL 3 - SEM GABARITO.pdf' %}" class="text-gray">1º SIMULADO- NÍVEL 3 - SEM GABARITO</a>
    </aside>

    <br><br><br>
</section>

{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}